<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/userLayout.css">
    <title>SignInpage</title>
</head>
<body>
    <section class="flex-center-center margin-bottom-100" style="
        display: flex;
        justify-content: center;
        align-items: center;"> 
        <div class="AuthCard" style="padding: 56px 80px;
        border-radius: 4px;
    border: solid 1px #e4e5ed;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 560px;
    box-sizing: border-box;">
    <h2 class="signup-form-title" style="font-size: 28px !important;
    line-height: 1.55;
    letter-spacing: -0.4px;
    color: #303441;
    margin-top: 20px;
    margin-bottom: 40px;">
        간편 로그인
    </h2>   
    <div class="SnsLoginBtn">
        <a  class="flex-center-center btn btn-default width-100 btn-sns-signup NGM border-none" style="background-color: rgb(99, 195, 61);
            height: 50px;
            border-radius: 8px !important;
            width: 100% !important;
            font-weight: 400;
            display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 15px 15px;
    font-size: 13px;
    line-height: 1.5438;
    ">
            <div class="flex-left-center">
            <img src="https://d2v80xjmx68n4w.cloudfront.net/assets/icon/icon_naver.png" alt="sns아이콘" class="width-30px margin-right-5"> 
            <span style="font-size: 15px; color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); text-align: center;">네이버 간편 가입 하기</span>
        </div>
        </a>
    </div> 
</div>
    </section>
</body>
</html>