<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/userLayout.css">
    <title>LogInpage</title>
</head>
<body>
<div class="css-1v1i5c2 e17yzflp0" style="font-family: 'Metro Sans',sans-serif;
box-sizing: border-box;" >
<form novalidate class="css-1rr4qq7 e1r5v7w50">
<h1 class="css-1ljdbip ey8vk260"> 딱 이것만 체크하면 가입완료! </h1>
<div class="css-wa7cs7 ey8vk261">
        <div class="css-1b8vwo3 ey8vk262">
            이름
        </div>
        <div class="css-cdrjiy eeek7io2">
            <div class="css-1i1vmw0 eeek7io0">
                <input name="email" placeholder="이름을 입력해 주세요." required="" type="email" 
                autocomplete="email" class="css-xv0cfn eeek7io1" value="">
            </div>
        </div>
        <div data-testid="email-error" class="css-1vkm6nb e1bt41r0"></div>
    
</div>
<div class="css-wa7cs7 ey8vk261">
    <div class="css-1b8vwo3 ey8vk262">
        영문이름
    </div>
    <div class="css-cdrjiy eeek7io2">
        <div class="css-1i1vmw0 eeek7io0">
            <input name="email" placeholder="영문이름을 입력해 주세요." required="" type="email" 
            autocomplete="email" class="css-xv0cfn eeek7io1" value="">
        </div>
    </div>
    <div data-testid="email-error" class="css-1vkm6nb e1bt41r0"></div>

</div>
<div class="css-wa7cs7 ey8vk261">
    <div class="css-1b8vwo3 ey8vk262">
        이메일
    </div>
    <div class="css-cdrjiy eeek7io2">
        <div class="css-1i1vmw0 eeek7io0">
            <input name="email" placeholder="이메일을 입력해 주세요." required="" type="email" 
            autocomplete="email" class="css-xv0cfn eeek7io1" value="">
        </div>
    </div>
    <div data-testid="email-error" class="css-1vkm6nb e1bt41r0"></div>

</div>
<div class="css-wa7cs7 ey8vk261">
    <div class="css-1b8vwo3 ey8vk262">
        생년월일
    </div>
    <div class="css-cdrjiy eeek7io2">
        <div class="css-1i1vmw0 eeek7io0">
            <input name="email" placeholder="생년월일을 입력해 주세요." required="" type="email" 
            autocomplete="email" class="css-xv0cfn eeek7io1" value="">
        </div>
    </div>
    <div data-testid="email-error" class="css-1vkm6nb e1bt41r0"></div>

</div>
<div class="css-wa7cs7 ey8vk261">
    <div class="css-1b8vwo3 ey8vk262">
        전화번호
    </div>
    <div class="css-cdrjiy eeek7io2">
        <div class="css-1i1vmw0 eeek7io0">
            <input name="email" placeholder="전화번호를 입력해 주세요." required="" type="email" 
            autocomplete="email" class="css-xv0cfn eeek7io1" value="">
        </div>
    </div>
    <div data-testid="email-error" class="css-1vkm6nb e1bt41r0"></div>

</div>
<div class="css-wa7cs7 ey8vk261">
    <div class="css-1b8vwo3 ey8vk262">
        사진파일첨부
    </div>
    <div class="css-cdrjiy eeek7io2">
        <div class="css-1i1vmw0 eeek7io0">
            <input name="email" placeholder="사진을 첨부해 주세요." required="" type="email" 
            autocomplete="email" class="css-xv0cfn eeek7io1" value="">
        </div>
    </div>
    <div data-testid="email-error" class="css-1vkm6nb e1bt41r0"></div>

</div>
<button color="yellow" disabled role="button" type="submit" class="css-1bt4mh6 evjcud12">
    <span class="css-7zhfhb evjcud11"> 가입완료</span>
</button>
</form>

</div>
</body>
</html>