<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/CSS/postListForm.css">
    <title>boardviewpage</title>
</head>
<body>
    <div class="css-1hc7liq eo5wvh52">
        <div class="css-s0bzth e1djbl80">
            <div class="css-92zmj5 e1djbl81">
                <article class="css-0 e1ml4neo0" style="display: block;">
                    <a target="_blank" class="css-kmstd8" style="background-color: transparent;">
                        <div class="css-4dara4 e1xdsfqf0">
                            <div class="css-1wdnvsk e19jh9yl0">
                                <img src="" alt="이미지">
                                이미지
                            </div>
                            <div class="css-1q9qc6z e1xd9i2f0">
                                <button class="css-tyn2nr e1xd9i2f1" style="font-family: inherit;
                                font-size: 100%;
                                line-height: normal;
                                margin: 0;
                                text-transform: none;
                                overflow: visible;
                                width: 30px;
                                height: 40px;
                                background-color: blue; 
                                color: white;"> 변환</button>
                            </div>
                        </div>
                        <div class="css-gxq4i8 ekmms3a0">
                            <h3 class="css-1alo3nx e18f555e0">2023-11-13이력서</h3>
                        </div>
                    </a>
                </article>

                <article class="css-0 e1ml4neo0" style="display: block;">
                    <a target="_blank" class="css-kmstd8" style="background-color: transparent;">
                        <div class="css-4dara4 e1xdsfqf0">
                            <div class="css-1wdnvsk e19jh9yl0">
                                <img src="" alt="이미지">
                                이미지
                            </div>
                            <div class="css-1q9qc6z e1xd9i2f0">
                                <button class="css-tyn2nr e1xd9i2f1" style="font-family: inherit;
                                font-size: 100%;
                                line-height: normal;
                                margin: 0;
                                text-transform: none;
                                overflow: visible;
                                width: 30px;
                                height: 40px;
                                background-color: blue; 
                                color: white;"> 변환</button>
                            </div>
                        </div>
                        <div class="css-gxq4i8 ekmms3a0">
                            <h3 class="css-1alo3nx e18f555e0">2023-11-13이력서</h3>
                        </div>
                    </a>
                </article>

                <article class="css-0 e1ml4neo0" style="display: block;">
                    <a target="_blank" class="css-kmstd8" style="background-color: transparent;">
                        <div class="css-4dara4 e1xdsfqf0">
                            <div class="css-1wdnvsk e19jh9yl0">
                                <img src="" alt="이미지">
                                이미지
                            </div>
                            <div class="css-1q9qc6z e1xd9i2f0">
                                <button class="css-tyn2nr e1xd9i2f1" style="font-family: inherit;
                                font-size: 100%;
                                line-height: normal;
                                margin: 0;
                                text-transform: none;
                                overflow: visible;
                                width: 30px;
                                height: 40px;
                                background-color: blue; 
                                color: white;"> 변환</button>
                            </div>
                        </div>
                        <div class="css-gxq4i8 ekmms3a0">
                            <h3 class="css-1alo3nx e18f555e0">2023-11-13이력서</h3>
                        </div>
                    </a>
                </article>

                <article class="css-0 e1ml4neo0" style="display: block;">
                    <a target="_blank" class="css-kmstd8" style="background-color: transparent;">
                        <div class="css-4dara4 e1xdsfqf0">
                            <div class="css-1wdnvsk e19jh9yl0">
                                <img src="" alt="이미지">
                                이미지
                            </div>
                            <div class="css-1q9qc6z e1xd9i2f0">
                                <button class="css-tyn2nr e1xd9i2f1" style="font-family: inherit;
                                font-size: 100%;
                                line-height: normal;
                                margin: 0;
                                text-transform: none;
                                overflow: visible;
                                width: 30px;
                                height: 40px;
                                background-color: blue; 
                                color: white;"> 변환</button>
                            </div>
                        </div>
                        <div class="css-gxq4i8 ekmms3a0">
                            <h3 class="css-1alo3nx e18f555e0">2023-11-13이력서</h3>
                        </div>
                    </a>
                </article>

                <article class="css-0 e1ml4neo0" style="display: block;">
                    <a target="_blank" class="css-kmstd8" style="background-color: transparent;">
                        <div class="css-4dara4 e1xdsfqf0">
                            <div class="css-1wdnvsk e19jh9yl0">
                                <img src="" alt="이미지">
                                이미지
                            </div>
                            <div class="css-1q9qc6z e1xd9i2f0">
                                <button class="css-tyn2nr e1xd9i2f1" style="font-family: inherit;
                                font-size: 100%;
                                line-height: normal;
                                margin: 0;
                                text-transform: none;
                                overflow: visible;
                                width: 30px;
                                height: 40px;
                                background-color: blue; 
                                color: white;"> 변환</button>
                            </div>
                        </div>
                        <div class="css-gxq4i8 ekmms3a0">
                            <h3 class="css-1alo3nx e18f555e0">2023-11-13이력서</h3>
                        </div>
                    </a>
                </article>
            </div>
        </div>
    </div>
</body>
</html>